body {
    font-family: 'Fira Sans', sans-serif;
}

.bg-black {

    background-color: black;


}

.header-section {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0;
    z-index: 1000;
    transition: all 1s ease-in-out;
    height: auto;
    background-color: black;

    text-align: center;
    line-height: 40px;
}

.header-section .navbar-brand img {
    width: 130px;
}

.custom-font-h3 {
    font-size: 30px;
}


.home-slider {
    position: relative;
    text-align: center;
    color: white;
    filter: opacity(60%);
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4vw;
    filter: opacity(50%);

}




.about-section p {
    font-size: 16px;
    line-height: 28px;
    text-align: justify;
}



.service-box h4 {
    font-size: 20px;
    font-weight: bold;
}

.contact-section {
    background-image: url(bg.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

.contact-box .form-control {
    height: 50px;
}

.contact-box textarea.form-control {
    height: 150px;
}

.address-box p {
    font-size: 16px;
    line-height: 22px;
}

@media(max-width:767px) {
    .header-section .navbar-brand img {
        width: 160px;
    }
}
